.noti-popup-layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.noti-cont {
  width: 450px;
  border-radius: 20px;
  border: 2px solid #717171;
  background-color: #fff;
}
.noti-title {
  font-size: 24px;
  font-weight: 600;
}
.noti-nav {
  display: flex;
  justify-content: end;
  padding: 20px;
  gap: 20px;
}
.noti-nav-icon:hover {
  opacity: 0.6;
}
.noti-nav-icon {
  font-size: 30px;
  cursor: pointer;
}
